page-view-one-cinema-movie {

    .centered { 
        // background: #888;
         margin: 0 auto; 
         width: 80%; 
        }

        .centeredP { 
            //background: #888;
             margin: 0 auto; 
             width: 100%; 
            }

}
